{% extends "layout.html" %}
{% block title %}Edit {{ user[1] }}{% endblock %}
{% block content %}
<h1>Editing {{ user[1] }}</h1>
<form action="/users/{{ user[0] }}" method="POST">
    <label for="username">
        Username:
        <input name="username" value="{{ user[1] }}" required />
    </label>
    <br />
    <label for="password">
        Password:
        <input name="password" type="password" required />
    </label>
    <br />
    <input type="hidden" name="csrfToken" value="{{ session.csrfToken }}">
    <input type="submit" value="Save">
</form>
{% endblock %}
