{% extends "layout.html" %}

{% block title %}Orders{% endblock %}

{% block content %}

<h1>{{ table[1] }}</h1>

<p class="greeting">Hello! Your waiter today is <span class="waiter">{{ waiterName }}</span>.</p>

{% if orders | length > 0 %}

<p class="grand-total">Grand total: {{ grandTotal }} €</p>

{% if table[3] != True %}
<a href="wantstopay/{{ table[0] }}">Ask for the bill</a>
{% endif %}

{% if table[3] == True %}
<p>You have asked for the bill. Please wait for your waiter.</p>
{% endif %}

<h2>Your orders</h2>

{% if table[3] != True %}
<a href="/order">Make a new order</a>
{% endif %}

<ul class="orders">

    {% for order in orders %}
    <li class="order">
        <div class="order-header">
            <div class="order-heading">
                <h3>Order #{{ loop.index }}</h3>
                <p class="status status--{{order[1]}}">{{order[1] | title}}</p>
            </div>
            <div class="order-actions">
                {% if order[1] == 'new' %}
                <button><a href="/cancelorder/{{ order[0] }}">Cancel order</a></button>
                {% endif %}
            </div>
        </div>
        <div class="order-items">
            <h4>Order items</h3>
            <ul>
                {% for orderItem in orderItems %}
                {% if orderItem[0] == order[0] %}
                <li>{{ orderItem[2] }} á {{ orderItem[3] }} €<br />x {{ orderItem[1] }} = {{ orderItem[1] *
                    orderItem[3] | round(2)}}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <p class="order-total">Order total: <span class="total">{{ orderTotals[order[0]] | round(2) }} €</span></p>
    </li>
    {% endfor %}

</ul>

{% else %}

<p>Please <a href="/order">make your first order!</a></p>

{% endif %}

{% endblock %}