{% extends "layout.html" %}
{% block title %}Your orders and tables{% endblock %}
{% block content %}
<h1>{{ session.username }}</h1>

<h2>New orders, oldest on top</h2>

<ul>
    {% for order in orders if order[2] == 'new' %}
    <li>
        {{ order[4] }} at {{ order[1] }}<br />
        <a href="/cancelorder/{{ order[0] }}">Cancel order</a><br />
        <a href="/proceedorder/{{ order[0] }}">Accept order</a>
        {% for orderItem in orderItems %}
            {% if orderItem[0] == order[0] %}
                <li>{{ orderItem[2] }} á {{ orderItem[3] }} €<br />x {{ orderItem[1] }} = {{ orderItem[1] *  orderItem[3] | round(2)}}</li>
            {% endif %}
        {% endfor %}
        Order total: <span class="total">{{ orderTotals[order[0]] | round(2) }} €</span>
    </li>
    {% endfor %}
</ul>

<h2>Orders in progress, oldest on top</h2>

<ul>
    {% for order in orders if order[2] == 'inprogress' %}
    <li>
        {{ order[4] }} accepted at {{ order[5] }}</span><br />
        <a href="/proceedorder/{{ order[0] }}">Complete order</a>
        {% for orderItem in orderItems %}
            {% if orderItem[0] == order[0] %}
                <li>{{ orderItem[2] }} á {{ orderItem[3] }} €<br />x {{ orderItem[1] }} = {{ orderItem[1] *  orderItem[3] | round(2)}}</li>
            {% endif %}
        {% endfor %}
        Order total: <span class="total">{{ orderTotals[order[0]] | round(2) }} €</span>
    </li>
    {% endfor %}
</ul>

<h2>Completed orders</h2>

<ul>
    {% for order in orders if order[2] == 'completed' %}
    <li>
        {{ order[4] }} completed at {{ order[5] }}<br />
        {% for orderItem in orderItems %}
            {% if orderItem[0] == order[0] %}
                <li>{{ orderItem[2] }} á {{ orderItem[3] }} €<br />x {{ orderItem[1] }} = {{ orderItem[1] *  orderItem[3] | round(2)}}</li>
            {% endif %}
        {% endfor %}
        Order total: <span class="total">{{ orderTotals[order[0]] | round(2) }} €</span>
    </li>
    {% endfor %}
</ul>

<h2>Your tables</h2>

<ul>
    {% for table in tables %}
        <li>
            {{ table[1] }}
            {% if table[2] == True %}
                <a href="/haspaid/{{ table[0] }}">Mark bill as paid</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}